<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="blocks/head"></div>
<body>
<div class="container">
    <div class="row">
        <h1>Code <b>[[${code.id}]]</b></h1>
        <div class="col">
            <div class="card mt-3">
                <div class="card-header">
                     <span id="load_date" class="green-c"
                           th:text="${#temporals.format(code.date, 'yyyy/MM/dd HH:mm:ss')}">
                     </span>
                </div>
                <div class="card-body">
                    <div th:unless="${code == null}">
                        <div th:if="${code.views != 0 && code.time!=0}">
                           <span id="views_restriction"
                                 th:text="${code.views} + ' more views allowed'">
                           </span>
                            <br>
                            <span id="time_restriction"
                                  th:text="'This code will be avaivable for '+${code.time} + ' seconds'">
                           </span>
                        </div>
                        <div th:if="${code.views != 0 && code.time==0}">
                           <span id="views_restriction"
                                 th:text="${code.views} + ' more views allowed'">
                           </span>
                        </div>
                        <div th:if="${code.time != 0 && code.views==0}">
                           <span id="time_restriction"
                                 th:text="'This code will be avaivable for '+${code.time} + ' seconds'">
                           </span>
                        </div>
                        <div th:if="${code.time==0  && code.getTimeRestricted()}">
                           <span id="time_restriction"
                                 th:text="'This code will be avaivable for '+${code.time} + ' seconds'">
                           </span>
                        </div>
                        <div th:if="${code.views==0  && code.getViewsRestricted()}">
                           <span id="views_restriction"
                                 th:text="${code.views} + ' more views allowed'">
                           </span>
                        </div>
                        <div th:if="${(code.views==0  && code.getViewsRestricted()) && (code.time==0  && code.getTimeRestricted())}">
                           <span id="views_restriction"
                                 th:text="${code.views} + ' more views allowed'">
                           </span>
                            <span id="time_restriction"
                                  th:text="'This code will be avaivable for '+${code.time} + ' seconds'">
                           </span>
                        </div>
                    </div>
                    <pre id="code_snippet">
                        <code th:text="${code == null ? '' : code.code}"></code>
                    </pre>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>